
div.card_part {
    display: flex;
    width: 100%;
    
}

div.card_part div.card {
    width: 24%;
    height: 470px;
    margin: 5px 15px;
    border: 2px solid yellowgreen;
    position: relative;
}
div.card_part div.card:hover img{
    display: block;
}

div.card_part div.card img {
    width: 100%;
    display: none;
    height: 300px;
}
div.card_part div.card img:hover{

}



div.card_part div.card h2 {
    text-align: center;
    font-size: 40px;
    position: absolute;
    top: 115px;
    right: 25%;
    text-transform: uppercase;
}

div.card_part div.card:hover h2{
    text-align: center;
    font-size: 30px;
    position: absolute;
    top: 60%;
    right: 25%;
    text-transform: uppercase;
}

div.card_part div.card samp.off_price {
    text-decoration: line-through;
    margin-right: 20px;
    position: absolute;
    bottom: 35%;
    left: 52%;
}
div.card_part div.card:hover samp.off_price {
    text-decoration: line-through;
    margin-right: 20px;
    position: absolute;
    bottom: 20%;
    left: 25%;
}



div.card samp.Discount_price {
    position: absolute;
    bottom: 25%;
    right: 25%;
}
 div.card:hover samp.Discount_price {
    margin-right: 20px;
    position: absolute;
    bottom: 15%;
    left: 25%;
}

